.json-formatter-row {
  line-height: 18px;
}
.json-formatter-row, .json-formatter-row a {
  text-decoration: none;
}
.json-formatter-row .json-formatter-row {
  margin-left: 1.5rem;
}
.json-formatter-row .json-formatter-children.json-formatter-empty {
  opacity: 0.5;
  margin-left: 1.5rem;
}
.json-formatter-row .json-formatter-children.json-formatter-empty:after {
  display: none;
}
.json-formatter-row .json-formatter-children.json-formatter-empty.json-formatter-object:after {
  content: "No properties";
}
.json-formatter-row .json-formatter-children.json-formatter-empty.json-formatter-array:after {
  content: "[]";
}
.json-formatter-row .json-formatter-string,
.json-formatter-row .json-formatter-stringifiable {
  color: var(--vscode-terminal-ansiBrightCyan);
  word-wrap: break-word;
}
.json-formatter-row .json-formatter-number {
  color: var(--vscode-terminal-ansiBrightRed);
}
.json-formatter-row .json-formatter-boolean {
  color: var(--vscode-terminal-ansiBrightBlue);
}
.json-formatter-row .json-formatter-null {
  color: var(--vscode-terminal-ansiBrightBlack);
}
.json-formatter-row .json-formatter-undefined {
  color: var(--vscode-terminal-ansiBrightBlack);
}
.json-formatter-row .json-formatter-function {
  color: var(--vscode-terminal-foreground);
}
.json-formatter-row .json-formatter-date {
  color: var(--vscode-terminal-ansiYellow);
}
.json-formatter-row .json-formatter-url {
  text-decoration: underline;
  color: var(--vscode-terminal-ansiBrightBlue);
  cursor: pointer;
}
.json-formatter-row .json-formatter-bracket {
  color: var(--vscode-terminal-foreground);
}
.json-formatter-row .json-formatter-key {
  color: var(--vscode-foreground);
  padding-right: 0.2rem;
}
.json-formatter-row .json-formatter-toggler-link {
  cursor: pointer;
}
.json-formatter-row .json-formatter-toggler {
  line-height: 1.2rem;
  font-size: 0.7rem;
  vertical-align: middle;
  opacity: 0.6;
  cursor: pointer;
  padding-right: 0.2rem;
}
.json-formatter-row .json-formatter-toggler:after {
  display: inline-block;
  content: "►";
}
.json-formatter-row > a > .json-formatter-preview-text {
  opacity: 0;
  font-style: italic;
}
.json-formatter-row:hover > a > .json-formatter-preview-text {
  opacity: 0.6;
}
.json-formatter-row.json-formatter-open > .json-formatter-toggler-link .json-formatter-toggler:after {
  transform: rotate(90deg);
}
.json-formatter-row.json-formatter-open > .json-formatter-children:after {
  display: inline-block;
}
.json-formatter-row.json-formatter-open > a > .json-formatter-preview-text {
  display: none;
}
.json-formatter-row.json-formatter-open.json-formatter-empty:after {
  display: block;
}
.json-formatter-constructor-name {
  /* color: var(--vscode-terminal-ansiBrightMagenta); */
  color: var(--vscode-terminal-foreground);
  font-weight: 500;
  margin-right: 4px;
}