html, body, .root { 
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
*:focus {
  outline: 0;
}
button {
  border: none;
  padding: 4px 12px 5px;
  background-color: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-secondaryForeground);
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid var(--vscode-button-secondaryBackground);
  cursor: pointer;
  margin-bottom: 4px;
  display: inline-block;
}
button:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
  border-color: var(--vscode-button-secondaryHoverBackground);
}
button.selected {
  background-color: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
}
button.toggle {
  background-color: transparent;
  border: 1px solid var(--vscode-button-secondaryBackground);
}
button.toggle:hover {
  border-color: var(--vscode-button-secondaryHoverBackground);
}
button.toggle.selected {
  border-color: var(--vscode-button-background);
}

/* Common Classes */

.error { color: var(--vscode-terminal-ansiBrightRed); }
.warning { color: var(--vscode-terminal-ansiYellow); }
.success { color: var(--vscode-terminal-ansiGreen); }
.cyan { color: var(--vscode-terminal-ansiBrightCyan); }
.magenta { color: var(--vscode-terminal-ansiBrightMagenta); }
.bg-sidebar { background-color: var(--vscode-sideBar-background); }
.bg-editor { background-color: var(--vscode-editor-background); }
.sticky { position: sticky; }
.mh0 { min-height: 0; }
.overflowy-auto { overflow-y: auto; }

/* Custom Classes */

.cell {  border-color: var(--vscode-panel-border); }
.cell-key { width: 35%; min-width: 140px; }

/* Debug */

.deb { border: 1px solid red; }