html, body, .root { 
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
}
*:focus {
  outline: 0;
}
button {
  border: none;
  padding: 4px 12px;
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-editor-foreground);
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid var(--vscode-sideBar-background);
  cursor: pointer;
  margin-bottom: 4px;
  display: inline-block;
  font-family: inherit;
}
button:hover {
  background-color: var(--vscode-list-hoverBackground);
  border-color: var(--vscode-list-hoverBackground);
}
button.selected {
  background-color: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
}
button.toggle {
  background-color: transparent;
  border: 1px solid var(--vscode-sideBar-background);
}
button.toggle:hover {
  border-color: var(--vscode-list-hoverBackground);
}
button.toggle.selected {
  border-color: var(--vscode-button-background);
}

/* Common Classes */

.error { color: var(--vscode-terminal-ansiBrightRed); }
.warning { color: var(--vscode-terminal-ansiYellow); }
.success { color: var(--vscode-terminal-ansiGreen); }
.cyan { color: var(--vscode-terminal-ansiCyan); }
.magenta { color: var(--vscode-terminal-ansiMagenta); }
.bg-sidebar { background-color: var(--vscode-sideBar-background); }
.bg-editor { background-color: var(--vscode-editor-background); }
.sticky { position: sticky; }
.mh0 { min-height: 0; }
.overflowy-auto { overflow-y: auto; }
.flex-1 { flex: 1; }

/* Custom Classes */

.cell {  
  border-bottom: 1px dotted var(--vscode-panel-border);
}
.cell-key { width: 35%; min-width: 140px; }

/* Debug */

.dgr { border: 1px solid red; }
.dgg { border: 1px solid green; }
.dgb { border: 1px solid blue; }
.dgy { border: 1px solid yellow; }

/* CodeMirror*/

.CodeMirror {
  font-family: inherit;
  font-size: inherit;
  color: var(--vscode-editor-foreground);
  background: var(--vscode-editor-background);
}
.CodeMirror-gutters {
  background: var(--vscode-editorGutter-background);
  border-right-color: var(--vscode-editorGutter-background);
}
.CodeMirror-foldmarker {
  text-shadow: none;
  color: var(--vscode-terminal-ansiRed);
  font-size: 1.2rem;
}
.CodeMirror-cursor {
  border-left-color: var(--vscode-terminalCursor-foreground);
}

.CodeMirror-selected ,
.CodeMirror-focused .CodeMirror-selected {
  background-color: var(--vscode-editor-selectionBackground);
}
.CodeMirror-scrollbar-filler, 
.CodeMirror-gutter-filler {
  background-color: var(--vscode-editor-background);
}

div.CodeMirror span.CodeMirror-matchingbracket { 
  color: var(--vscode-terminal-ansiMagenta); 
}
div.CodeMirror span.CodeMirror-nonmatchingbracket { 
  color: var(--vscode-errorForeground); 
}
.CodeMirror-dialog-top{
  border-bottom: 1px solid var(--vscode-panel-border);
}
.CodeMirror-dialog-bottom{
  border-top: 1px solid var(--vscode-panel-border);
}
.CodeMirror-dialog input {
  font-family: inherit;
  font-size: inherit;
}
.CodeMirror-dialog-top {
  display: flex;
  align-items: center;
}
.CodeMirror-dialog input {
  padding-left: 6px;
  width: initial;
  flex:1;
}
.cm-searching {
  background: none;
}
.CodeMirror-search-hint {
  display: none;
}

.cm-s-default .cm-def {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-variable-2, 
.cm-s-default .cm-variable-3, 
.cm-s-default .cm-variable {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-type {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-meta {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-qualifier {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-builtin {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-bracket {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-tag {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-attribute {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-hr {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-link {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-error {color: var(--vscode-editor-foreground);}

.cm-s-default .cm-string-2,
.cm-s-default .cm-string {color: var(--vscode-editor-foreground);}
.cm-s-default .cm-number {color: var(--vscode-terminal-ansiGreen);}
.cm-s-default .cm-keyword {color: var(--vscode-terminal-ansiBlue);}
.cm-s-default .cm-atom {color: var(--vscode-terminal-ansiBlue);}
.cm-s-default .cm-property {color: var(--vscode-terminal-ansiCyan);}