<%- include('parts/header') -%>
<div class="ph3 pv3">
  <h3 class="pa0 ma0">Something went wrong!</h3>
  <p><%= 
    message || 
    'Please check your internet connection or your request file for some errors.' 
  %></p>
</div>
<%- include('parts/footer') -%>