<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; img-src <%- cspSource %> https:; script-src <%- cspSource %>; style-src <%- cspSource %>;">
  <title>Response</title>
  <link rel="stylesheet" href="<%- styleUri %>">
</head>

<body>
  <div class="loading">
    <div>Waiting for response...</div>
  </div>
</body>

</html>